server:
  port: 8888

app:
  api-prefix: /api/v1

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: identity_service
          uri: http://localhost:8080
          # Dieu kien de gateway map endpoint
          predicates:
          - Path=${app.api-prefix}/identity/**
          filters:
          - StripPrefix=2
        - id: profile_service
          uri: http://localhost:8081
          # Dieu kien de gateway map endpoint
          # Khong he co /internal, khong export, vi vay se khong cho gui post profile ;)
          predicates:
          - Path=${app.api-prefix}/profile/**
          # Cat di custom prefix (cat api/v1 lay phan sau de routing)
          filters:
          - StripPrefix=2
        - id: patient_service
          uri: http://localhost:8082
          # Dieu kien de gateway map endpoint
          # Khong he co /internal, khong export, vi vay se khong cho gui post profile ;)
          predicates:
            - Path=${app.api-prefix}/patient/**
          # Cat di custom prefix (cat api/v1 lay phan sau de routing)
          filters:
            - StripPrefix=2