server:
  port: 8081
  servlet:
    context-path: /patient

spring:
  application:
    name: profile-service
  datasource:
    url: "jdbc:postgresql://dpg-cvcnj556l47c73fkikm0-a.oregon-postgres.render.com:5432/hospital_cllj"
    username: hospital_cllj_user
    password: mL8z8WZPPbkOXexRm2HaBeuqvsmC7Xoi
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
